<div class="container">
  <div class="row">
    <% @offers.each do |offer| %>
      <div class="col-xs-6 col-sm-4">
        <%= render 'shared/card', offer: offer %>
      </div>
    <% end %>
    <% if @offers.blank? %>
        <p>There are no offers containing the term <strong><%= params[:q] %></strong>.</p>
    <% end %>
  </div>
  <div id="map" data-geojson="<%= @markers.to_json %>" data-pk="<%= ENV['MAPBOX_API_KEY'] %>">

  </div>
</div>

<%= javascript_pack_tag 'map' %>
