<div class="filter-bar">
  <div class="container">
    <div class="row">
      <p>Filter by:</p>
      <%= form_tag search_path, :method => :get do %>
        <%= select_tag :category, options_for_select(@categories, selected: session[:category_param]) %>
        <%= text_field_tag :pricemin, @pricemin, placeholder: "Min..." %>
        <%= text_field_tag :pricemax, @pricemax, placeholder: "Max..." %>
        <%= submit_tag "Filters", name: nil, class:"btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h2 class="margin-left"><%= pluralize @offers.size, "offer" %> found</h2>
    <% @offers.each do |offer| %>
      <div class="col-xs-6 col-sm-4">
        <%= render 'shared/card', offer: offer %>
      </div>
    <% end %>
    <% if @offers.blank? %>
        <p class="margin-left">There are no offers containing the term <strong><%= params[:query] %></strong>.</p>
    <% end %>
  </div>

  <div id="map" data-markers="<%= @markers.to_json %>"></div>

  <div id="map" data-markers="<%= @markers.to_json %>" data-offers="<%= @offers.map { |offer| offer.to_json} %>"></div>

</div>

