<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path offer.photo %>');">
  <div class="card-category"><%= offer.category %></div>
  <div class="card-description">
    <h2><%= offer.title %></h2>
    <h2><%= offer.price %>€</h2>
  </div>
  <%= cl_image_tag cl_image_tag_or_not(offer.user.avatar), class: "card-user" %>
  <%= link_to '', offer_path(offer), class: "card-link" %>
</div>
