<div class="photos-container">
  <div class="offer-photo" style="background-image: url('<%= cl_image_path @offer.photo %>'); background-position: center;">
  </div>
</div>

<div class="container">
  <div class="offer-wrapper">
    <div class="offer-info-container">
      <h5><%= @offer.category %></h5>
      <% if current_user == @offer.user %>
        <h1 class="color-font"><%= @offer.title %><%= link_to edit_offer_path(@offer) do %>
      <% end %>
        <button class="btn btn-primary offer-btn"><i class="fas fa-edit"></i>Edit Offer</button>
      <% end %></h1>
      <p><%= @offer.description %></p>
      <p><%= @offer.location %></p>
      <div id="map" class="small-map" data-markers="<%= @markers.to_json %>">
      </div>
    </div>
    <div class="booking-form">
      <p><strong><%= @offer.price %>€</strong> par jour</p>
      <%= render "shared/form" %>
    </div>
  </div>
  <% if current_user == @offer.user %>
    <%= link_to "Delete this offer", offer_path(@offer), method: "delete", style: "padding-left: 50px;" %>
  <% end %>
</div>



<script>
let startDateInput = document.getElementById("booking_start_date");
let endDateInput = document.getElementById("booking_end_date");


startDateInput.addEventListener("change", (e) => {
  console.log(startDateInput.value);
  let startDate = Date.parse(startDateInput);
  let endDate = Date.parse(endDateInput);

  console.log(startDate);
  console.log(endDate);
});

endDateInput.addEventListener("change", (e) => {

});



</script>


