<div class="photos-container">
  <div class="offer-photo" style="background-image: url('https://pisces.bbystatic.com/image2/BestBuy_US/images/products/4723/4723509_sa.jpg'); background-position: center;">
  </div>
</div>

<div class="container">
  <div class="offer-wrapper">
    <div class="offer-info">
      <h5><%= @offer.category %></h5>
      <h1><%= @offer.title %></h1>
      <p><%= @offer.description %></p>
      <p><%= @offer.location %></p>
    </div>
    <div class="booking-form">
      <p><strong><%= @offer.price %>€</strong> par jour</p>
      <%= render "shared/form" %>
    </div>
  </div>
</div>
<div class="map" style="background-image: url('https://badoocdn.com/big/g/64/22219.png'); background-size: cover;">

</div>
