<div class="photos-container">
  <div class="offer-photo" style="background-image: url('<%= cl_image_path @offer.photo %>'); background-position: center;">
  </div>
</div>

<div class="container">
  <div class="offer-wrapper">
    <div class="offer-info-container">
      <h5><%= @offer.category %></h5>
      <h1 class="color-font"><%= @offer.title %><%= link_to edit_offer_path(@offer) do %>
        <button class="btn btn-primary offer-btn"><i class="fas fa-edit"></i>Edit Offer</button>
      <% end %></h1>
      <p><%= @offer.description %></p>
      <p><%= @offer.location %></p>
      <div id="map" style="background-image: url('https://badoocdn.com/big/g/64/22219.png'); background-size: cover;">
      </div>
    </div>
    <div class="booking-form">
      <p><strong><%= @offer.price %>€</strong> par jour</p>
      <%= render "shared/form" %>
    </div>
  </div>
  <%= link_to "Delete this offer", offer_path(@offer), method: "delete", style: "padding-left: 50px;" %>
</div>
